<html>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'>
    <title>buildr &mdash; {{ page.title }}</title>
    <style type='text/css'>
      @import 'css/default.css';
      @import 'css/syntax.css';
    </style>
    <style media='print' type='text/css'>
      @import 'css/print.css';
    </style>
    <meta content='Official Buildr documentation from the people in the know' name='subject'>
    <link href='images/favicon.png' rel='shortcut icon'>
  </head>
  <body>
    <div id='wrap'>
      <div id='header'>
        <a href='http://yeungkeun.github.io/' title="장학금, 어디까지 알아봤니?"><img alt='buildr' src='images/buildr.png'></a>
        <div class='tagline'>장학금, 어디까지 알아봤니?</div>
      </div>
      <div id='pages'>
        <ol class='toc'>
          <li>근로장학금
            <ol class="toc">
              <li><a href='scholarship.html'>근로장학금이란</a></li>
              <li><a href='scholarship2.html'>근로장학금의 종류</a></li>
              <li><a href='scholarship3.html'>근로장학금 신청방법</a></li>
            </ol>
          </li>
          <li>교내장학금
            <ol class="toc">
              <li><a href='KUTscholarship.html'>교내장학금이란</a></li>
              <li><a href='KUTscholarship2.html'>학비감면장학금</a></li>
            </ol>
          </li>
          <li>국가장학금
            <ol class="toc">
              <li><a href='first.md.html'>국가장학금이란</a></li>
              <li><a href='KUTscholarship2.html'>학비감면장학금</a></li>
            </ol>
          </li>
          <li>Get Involved
            <ol class="toc">
              <li><a href='download.html'>Download</a></li>
              <li><a href='mailing_lists.html'>Mailing Lists</a></li>
              <li><a href='http://issues.apache.org/jira/browse/Buildr'>Issues/Bugs</a></li>
              <li><a href='contributing.html'>Contributing</a></li>
              <li><a href='specs.html'>Specs</a></li>
              <li><a href='coverage/index.html'>Coverage</a></li>
            </ol>
          </li>
          <li>
            <form action='http://www.google.com/cse' id='searchbox_003673095760649043902:ogcgrzu0l2y'>
              <input name='cx' type='hidden' value='003673095760649043902:ogcgrzu0l2y'>
              <input name='cof' type='hidden' value='FORID:0'>
              <input name='q' size='20' type='text'>
              <input name='sa' type='submit' value='Search'>
              <img alt='Google Custom Search' src='http://www.google.com/coop/images/google_custom_search_smnar.gif'>
            </form>
          </li>
          <li>The Buildr Book
            <p><a href='http://www.amazon.com/Buildr/dp/1442160942/'><img src='images/1442160941-frontcover.jpg' style='width:120px'></a></p>
            <p>Based on the Buildr documentation, available from <a href='http://www.amazon.com/Buildr/dp/1442160942/'>Amazon</a> and
            <a href='http://www.createspace.com/3382199'>CreateSpace</a></p>
          </li>
        </ol>
      </div>
      <div id='content'>
        <h1 id='{{ page.title | downcase | replace(' ', '_') }}'>{{ page.title }}</h1>
        {{ content | toc }}
        {{ content }}
      </div>
      <div id='footer'>Copyright &copy; 2007-2009 The Apache Software Foundation</div>
    </div>
  </body>
</html>
