<html>
  <head>
    <meta content='text/html;charset=UTF-8' http-equiv='Content-Type'>
    <title>{{ page.title }}</title>
    <style type='text/css'>
      @import 'css/default.css';
      @import 'css/syntax.css';
    </style>
    <style media='print' type='text/css'>
      @import 'css/print.css';
    </style>
    <meta content='Official Buildr documentation from the people in the know' name='subject'>
    <link href='images/favicon.png' rel='shortcut icon'>
  </head>
  <body>
    <div id='wrap'>
      <div id='header'>
        <a href='http://yeungkeun.github.io/' title="장학금, 어디까지 알아봤니?"><http://ec.l.thumbs.canstockphoto.com/canstock21493776.jpg></a>
        <div class='tagline'>장학금, 어디까지 알아봤니?</div>
      </div>
      <div id='pages'>
        <ol class='toc'>
          <li>국가장학금
            <ol class="toc">
              <li><a href='first.html'>국가장학금이란</a></li>
              <li><a href='second.html'>국가장학금의 종류</a></li>
              <li><a href='third.html'>구비서류</a></li>
            </ol>
          </li>
          <li>근로장학금
            <ol class="toc">
              <li><a href='scholarship.html'>근로장학금이란</a></li>
              <li><a href='scholarship2.html'>근로장학금의 종류</a></li>
              <li><a href='scholarship3.html'>근로장학금 신청방법</a></li>
            </ol>
          </li>
          <li>교내장학금
            <ol class="toc">
              <li><a href='KUTscholarship.html'>교내장학금이란</a></li>
              <li><a href='KUTscholarship2.html'>학비감면장학금</a></li>
              <li><a href='bongsa.html'>봉사장학금</a></li>
              <li><a href='special.html'>특별장학금</a></li>
            </ol>
          </li>
        </ol>
      </div>
      <div id='content'>
        <h1 id='{{ page.title | downcase | replace(' ', '_') }}'>{{ page.title }}</h1>
        {{ content | toc }}
        {{ content }}
      </div>
      <div id='footer'>Copyright &copy; 2007-2009 The Apache Software Foundation</div>
    </div>
  </body>
</html>
